.loaderscreen {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.7);
 
}

.loaderscreen_loaded {
    position: fixed;
    
}
.valid {
    border-color: '';
}
 .in_valid {
     border-color: red;
 }