.loaderscreen {
    position: fixed;
    z-index: 1000000000000000000000000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.7);
 
}

.loaderscreen_loaded {
    position: fixed;
    
}
.valid {
    border-color: '';
}
 .in_valid {
     border: red 1px solid;
 }
 .valid_input {
    border: green 1px solid;
 }

 #flash_message_heading {
    border-radius: 5px;
    background: green;
    text-align: center;
    color: white;
    padding: 10px;

 }
 #flash_errror_message_heading {
    border-radius: 5px;
    background:red;
    text-align: center;
    color: white;
    padding: 10px;

 }
 .form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }
  
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }

  input[type=checkbox] {
    width: 13px;
    height: 13px;
    margin-right: 10px;
}