.loaderscreen {
    position: fixed;
    z-index: 1000000000000000000000000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.7);
 
}

.loaderscreen_loaded {
    position: fixed;
    
}
.valid {
    border-color: '';
}
 .in_valid {
     border: red 1px solid;
 }
 .valid_input {
    border: green 1px solid;
 }

 #flash_message_heading {
    border-radius: 5px;
    background: green;
    text-align: center;
    color: white;
    padding: 10px;

 }
 #flash_errror_message_heading {
    border-radius: 5px;
    background:red;
    text-align: center;
    color: white;
    padding: 10px;

 }
